html, body {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

md-table-container {
  width: 100%;
}

table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0 10px !important;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 15px 0 0 !important;
}

table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
    height: 35px !important;
}

table.md-table thead.md-head>tr.md-row {
    height: 26px !important;
    background: #E4E4E4;
}

md-autocomplete > md-autocomplete-wrap > md-progress-linear { display: none; }
md-autocomplete > md-autocomplete-wrap > button { display: none; }

.ng-hide {
    display: none !important;
}

.md-subheader ._md-subheader-inner {
    padding: 0px 20px;
    height: 20px;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

.md-subheader ._md-subheader-inner {
  padding-top: 10px !important;
}

.full-heigth {
    height: -moz-calc(100% - 64px);
    height: -webkit-calc(100% - 64px);
    height: calc(100% - 64px);
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(1,169,244);
  margin-left: 125px;
}

.selectedStop {
  float: left;
  line-height: 30px;
}

.refresh-btn {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
}