<div class="favorites-container">
    <!-- <h3 class="favorites-title">Favorite Stops</h3> -->

    <div class="favorites-list">
        @for (favorite of favorites; track favorite.name) {
            <div class="favorite-item" (click)="selectStop(favorite.name)">
                <div class="favorite-details">
                    <div class="favorite-name">{{ favorite.name }}</div>
                    <div class="line-chips">
                        @for (line of favorite.lines; track line.id) {
                            <div
                                class="line-chip"
                                [style.backgroundColor]="
                                    line.color || '#757575'
                                "
                            >
                                {{ line.id }}
                            </div>
                        }
                    </div>
                </div>
                <!-- <mat-icon class="reorder-icon">reorder</mat-icon> -->
            </div>
            <mat-divider />
        }
    </div>
</div>
