<mat-toolbar color="primary">
    <mat-form-field
        class="stop-autocomplete"
        appearance="fill"
        subscriptSizing="dynamic"
    >
        <input
            matInput
            placeholder="Haltestelle eingeben"
            aria-label="Bus stop"
            [matAutocomplete]="auto"
            [(ngModel)]="busStop"
            (ngModelChange)="querySearch($event)"
            (keydown.enter)="getPlan(busStop)"
        />
        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onStopSelected($event.option.value)"
        >
            @for (item of querySearch(busStop); track item) {
                <mat-option [value]="item">
                    <span>{{ item }}</span>
                </mat-option>
            }
            @if (
                querySearch(busStop).length === 0 &&
                busStop &&
                busStop.length > 0
            ) {
                <mat-option [disabled]="true">
                    No matches found for "{{ busStop }}"
                </mat-option>
            }
        </mat-autocomplete>
        @if (busStop) {
            <button
                mat-icon-button
                matSuffix
                aria-label="Löschen"
                (click)="busStop = ''; plan = []"
            >
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
    <span class="toolbar-spacer"></span>
    <!-- <button mat-icon-button (click)="closeApp()" title="Close App">
        <mat-icon>close</mat-icon>
    </button> -->
    <button mat-icon-button (click)="openSettings()" title="Open Settings">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<!-- <div class="header-nav">
    <div
        class="nav-item"
        [class.active]="appMode === AppMode.ARRIVALS"
        (click)="showArrivals()"
    >
        Live Arrivals
    </div>
    <div
        class="nav-item"
        [class.active]="appMode === AppMode.FAVORITES"
        (click)="showFavorites()"
    >
        Favorite Stops
    </div>
</div> -->

@if (isLoading) {
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
}

<div class="app-content full-height">
    @if (appMode === AppMode.ARRIVALS) {
        <app-plan-list
            [stop]="selectedStop"
            [planData]="plan"
            [isLoading]="isLoading"
            [lastUpdated]="lastUpdated"
            (refreshPlanRequest)="getPlan($event)"
            (morePlanRequest)="morePlan($event)"
        />
    } @else {
        <app-favorites-list (stopSelected)="onFavoriteSelected($event)" />
    }
</div>
